#header {
  height: 50px;
  background:  rgba(51, 51, 51, 0.8);
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color: rgba(51, 51, 51, 0.8);
}

div.breadcrumbs {
  background: rgb(193,155,118);
  color:  rgba(51, 51, 51, 0.8);
}

div.breadcrumbs a {
  color: #333;
}

.module h2, .module caption, .inline-group h2 {
  background: rgb(193,155,118);
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background:  rgba(51, 51, 51, 0.8);
  color: #fff;
}

.button.default, input[type=submit].default, .submit-row input.default {
  float: right;
  border: none;
  font-weight: 400;
  background: rgba(51, 51, 51, 0.8);
}