.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 80px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgb(193,155,118); }

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgb(193,155,118); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }


  .btn-primary {
    color: #fff;
    background-color: #3e3b37;
    border-color: #3d3b36;
  } 
  .btn-primary:hover {
    color: #fff;
    background-color: #3e3b37;
    border-color: #3e3b37; }
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #323231; }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color:#3e3b37;
    border-color:#3e3b37; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3e3b37;
    border-color: #3e3b37; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem #3e3b37; }

  a {
    color: #454545;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects; }
    a:hover {
      color: #03070f;
      text-decoration: underline; }
  

  .badge-primary {
    color: #fff;
    background-color: #c19b76; }
    .badge-primary[href]:hover, .badge-primary[href]:focus {
      color: #fff;
      text-decoration: none;
      background-color: #071224; }
  
  .badge-secondary {
    color: #212529;
    background-color:  #c19b76; }
    .badge-secondary[href]:hover, .badge-secondary[href]:focus {
      color: #212529;
      text-decoration: none;
      background-color: #c19b76; }
  
  .badge-success {
    color: #fff;
    background-color:#c19b76; }
    .badge-success[href]:hover, .badge-success[href]:focus {
      color: #fff;
      text-decoration: none;
      background-color: #c19b76; }
  
  .badge-info {
    color: #fff;
    background-color: #c19b76; }
    .badge-info[href]:hover, .badge-info[href]:focus {
      color: #fff;
      text-decoration: none;
      background-color: #c19b76; }
  
    .text-primary {
      color: #545353 !important; }
    
    a.text-primary:hover, a.text-primary:focus {
      color: #071224 !important; }
    
    .text-secondary {
      color: #c19b76!important; }
    
    a.text-secondary:hover, a.text-secondary:focus {
      color: #c19b76 !important; }
    
    .text-success {
      color: #c19b76 !important; }
    
    a.text-success:hover, a.text-success:focus {
      color: #c19b76 !important; }
    
    .text-info {
      color: #17a2b8 !important; }
    
    a.text-info:hover, a.text-info:focus {
      color: #117a8b !important; }
  
    .btn-secondary {
      color: #212529;
      background-color: #c19b76;
      border-color: #c19b76; }
      .btn-secondary:hover {
        color: #fff;
        background-color: #c19b76;
        border-color:#c19b76; }
      .btn-secondary:focus, .btn-secondary.focus {
        box-shadow: 0 0 0 0.2rem rgb(193,155,118); }
      .btn-secondary.disabled, .btn-secondary:disabled {
        color: #212529;
        background-color: #c19b76;
        border-color: #c19b76; }
      .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
      .show > .btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #c19b76;
        border-color: #c19b76; }
        .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-secondary.dropdown-toggle:focus {
          box-shadow: 0 0 0 0.2rem rgb(193,155,118); }


          #map_canvas {
            width: 500px;
            height: 300px;
            
        }